<!-- /templates/page.liquid -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-content m-top-20">
				{{ page.content }}
			</div>
		</div>
	</div>
</div>
<!-- <div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
        </div>
      </div>
    </div>

  </div>
</div>
 -->